body {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}
.container {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}
.row-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: var(--max-width);
    margin: auto;
}
.row-title{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 0px;
    margin-bottom: 2px;
    background-color: var(--title-background-color);
    color: var(--title-color);
}
.row-text {
    text-align: left;
    background-color: var(--text-background-color);
    color: var(--text-color);
    max-width: var(--max-width);
    padding-top: 1px;
    padding-bottom: 1px;
    margin: auto;
}
.row-text > pre {
    margin-left: 1em;
    margin-right: 1em;
}
.item {
    display: grid;
    grid-template-columns: var(--image-width);
    grid-template-rows: auto;
    grid-template-areas:
        "image"
        "text";
    /* border-style: solid; */
    border-width: 0px;
    border-color:  var(--item-background-color);
    background-color: var(--item-background-color);
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.item-image {
    grid-area: image;
    width: var(--image-width);
    height: var(--image-height);
}
.item-caption{
    grid-area: text;
    padding-bottom: 3px;
    color: var(--item-color);
};
a {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
