:root{
    font-family: 'Dosis', sans-serif;
}
body {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}
.container {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}
.row-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-title{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 2px;
}
.row-text {
    text-align: center;
    background-color: #e6ffcc;
    padding-top: 7px;
    padding-bottom: 7px;
}
.item-container {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: auto;
    grid-template-areas:
        "a b";
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-width: 0px;
}
.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.item {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: auto;
    grid-template-areas:
        "image"
        "text";
    margin: 2px;
    // border-style: solid;
    border-width: 0px;
    border-color:  #ffe6b3;
    background-color: #ffe6b3;
}
.item-image {
    grid-area: image;
    width: 250px;
    height: 180px;
}
.item-caption{
    grid-area: text;
    padding-bottom: 3px;
};
a {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
