body {
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

.url-encoder {
    display: grid;
    grid-template-rows: 2.0em 3em 2.0em;
    grid-template-columns: auto calc(var(--image-width) / 2) calc(var(--image-width) / 2);
    grid-template-areas: "head head head"
                          "input input input"
                          ". encode decode";
    background-color: var(--text-background-color);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 0.3em;
}
.url-encoder-title{
    margin: 0.3em 0.3em 0.3em;
    padding: 0.1em;
    grid-area: head;
    font-weight: bold;
}
.url-encoder #encodingBox {
    margin: 0em 0.3em 0.3em;
    padding: 0.1em;
    grid-area: input;
}
.url-encoder .encode {
    margin: 0em 0.3em 0.3em;
    padding: 0.1em;
    grid-area: encode;
}
.url-encoder .decode {
    margin: 0em 0.3em 0.3em;
    padding: 0.1em;
    grid-area: decode;
}


.row-title{
    background-color: var(--title-background-color);
    color: var(--title-color);
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0px;
    margin-bottom: 0.3em;
}
.row-text {
    text-align: left;
    background-color: var(--text-background-color);
    color: var(--text-color);
    max-width: var(--max-width);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0.3em;
}
.row-text > pre {
    margin-left: 1em;
    margin-right: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}
.row-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0.5em;
}
.item {
    display: grid;
    grid-template-columns: var(--image-width);
    grid-template-rows: auto;
    grid-template-areas:
        "image"
        "text";
    /* border-style: solid; */
    border-width: 0px;
    border-color:  var(--item-background-color);
    background-color: var(--item-background-color);
    margin-top: 0.2em;
}
.item-image {
    grid-area: image;
    width: var(--image-width);
    height: var(--image-height);
}
.item-caption{
    grid-area: text;
    padding-bottom: 0.5em;
    padding-top:0.6em;
    color: var(--item-color);
    background-color: var(--item-background-color);
};
a {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
.item:hover > .item-caption {
    filter: invert(1);
    transition-duration: 0.3s;
}
